body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.text-color {
  color: #2e2f42;
}
.text-color:hover {
  color: #404bbf;
}
.text-color:focus {
  color: #404bbf;
}
/* хедер */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25.5px 156px 25.5px 156px;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-web {
  color: #2e2f42;
}

.nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts {
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.contacts-item {
  color: #434455;
}
.contacts-item:hover {
  color: #404bbf;
}
.contacts-item:focus {
  color: #404bbf;
}
/* hero-block */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: #2e2f42;
  padding: 188px 472px 292px 472px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

.hero-btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.hero-btn:hover {
  background-color: #404bbf;
}
.hero-btn:focus {
  background-color: #404bbf;
}

/* Features-block */

.features-list {
  display: flex; /* ставимо всі li в ряд */
  gap: 20px; /* відступи між блоками */
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  flex: 1; /* щоб усі колонки були однакової ширини */
  text-align: center; /* вирівнювання по центру */
  padding: 10px;
}

.features-item-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Team-block */
/* Заголовок секції (перевикористовуємо team-title) */
.team {
  background-color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 40px;
}

/* Картки у ряд */
.team-list {
  display: flex;
  flex-wrap: wrap; /* щоб переносилися на новий ряд */
  gap: 20px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Картка */
.team-item {
  width: 360px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  border-radius: 8px;
  overflow: hidden;
}

/* Заголовок картки */
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 15px 0 5px 15px;
}

/* Текст підзаголовка */
.team-role {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0 0 15px 15px;
}

/* футер */
.footer {
  padding: 140px 1020px 100px 156px;
  width: 1440px;
  height: 312px;
  background: #2e2f42;
  font-family: "Roboto", "Raleway", sans-serif;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  width: 115px;
  height: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.text-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.logo-webs {
  color: #f4f4fd;
}
